In [2]:
# https://nipunbatra.github.io/blog/2017/recommend-keras.html

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
dataset = pd.read_csv('./ml-100k/u.data', sep='\t', names='user_id,item_id,rating,timestamp'.split(","))

In [21]:
dataset.head(5)

   user_id  item_id  rating  timestamp
0      195      241       3  881250949
1      185      301       3  891717742
2       21      376       1  878887116
3      243       50       2  880606923
4      165      345       1  886397596

In [11]:
print('unique user: ' + str(len(dataset.user_id.unique())))
print('unique movie: ' + str(len(dataset.item_id.unique())))

unique user: 943
unique movie: 1682

In [22]:
# ???
dataset.user_id = dataset.user_id.astype('category').cat.codes.values
dataset.item_id = dataset.item_id.astype('category').cat.codes.values

dataset.head()

   user_id  item_id  rating  timestamp
0      195      241       3  881250949
1      185      301       3  891717742
2       21      376       1  878887116
3      243       50       2  880606923
4      165      345       1  886397596

In [25]:
# TODO: Try later with sklearn
# from sklearn.model_selection import train_test_split
# train, test = train_test_split(dataset, test_size=0.2)

train_set = dataset.iloc[:800000, :]
test_set = dataset.iloc[800001:, :]

In [26]:
train_set.head()

   user_id  item_id  rating  timestamp
0      195      241       3  881250949
1      185      301       3  891717742
2       21      376       1  878887116
3      243       50       2  880606923
4      165      345       1  886397596